name: MacOS test

on:
  pull_request:
  workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read
  id-token: write

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@rc
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python 3.11
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Echo (outbound call)
        run: curl https://www.google.com
