name: CI

on:
  pull_request:
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      
    - name: Set up Python 3.11
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Echo
      run: echo "213" > README.md
    - name: Anomalous call
      run: curl "www.scribe.com"
